.anchor-navigation .menu-item {
  margin: 1rem 0;
  padding: 0 0.5rem;
  list-style: none;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.anchor-navigation .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor-navigation .menu-item a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: $c-text--primary;
}
