.table {
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.07);
  padding: 0 2rem 2rem 2rem;
}

.table h2 {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.table table {
  padding: 1rem 0 2rem;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
  padding: 1rem 0 2rem;
  width: 100%;
  font-size: 0.76rem;
}

tbody th {
  border-right: 1px solid $c-gray--light;
  border-bottom: 1px solid $c-gray--light;
  padding: 0 1rem;
}

td {
  min-width: 100px;
}

thead tr th {
  border-bottom: 3px solid $c-black;
}

.table tbody tr td {
  border-bottom: 1px solid $c-gray--light;
  padding: 0.5rem 1rem;
}

.table th[scope="col"] {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.76;
  padding-bottom: 0.5rem;
}
