.cards > ul {
  list-style: none;
}
.cards {
  margin: 0 auto;
  min-width: 1380px;
}

.cards h4 {
  font-size: 0.83rem;
  text-transform: uppercase;
  color: $c-text--primary;
  text-align: center;
  font-weight: $fw--semi-bold;
  letter-spacing: -0.36px;
  margin: 2rem 0;
}

@supports (display: grid) {
  .cards > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    grid-column-gap: 3.55rem;
    grid-row-gap: 3.55rem;
    padding: 0;
  }
}

.card:nth-of-type(even) {
  margin-top: 2rem;
}

.card .img {
  position: relative;
}

.card .img .square {
  width: 100px;
  position: absolute;
  height: 100px;
  bottom: -15px;
  right: -15px;
  z-index: 1;
  opacity: 0.8;
  &.primary {
    background-color: $c-primary;
  }
  &.secondary {
    background-color: $c-secondary;
  }
  &.tertiary {
    background-color: $c-tertiary;
  }
  &.quaternary {
    background-color: $c-quaternary;
  }
  &.quinary {
    background-color: $c-quinary;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card a {
  text-decoration: none;
}

.card a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card a:focus {
  outline: none;
  text-decoration: underline;
}

.card:focus-within .square,
.card:hover .square {
  z-index: 1;
  opacity: 1;
}

.card h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: $fw--regular;
}

.card h2 a {
  color: $c-black;
}
