.banner {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 0.57) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  padding: 2.5rem;
}
.banner__p {
  padding: 0;
  @include breakpoint($bp--xxxlarge) {
    padding: 0 15rem;
  }
}
