.hero {
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
}

.hero__inner {
  position: absolute;
  z-index: 2;
  top: 50%;
  text-align: center;
  color: white;
  width: 100%;
  transform: translate(0, -50%);
}

.hero__title {
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.39);
}
.hero__title span {
  display: block;
  &.hero__title--small {
    font-size: 2.1rem;
  }
  &.hero__title--smaller {
    font-size: 1.27rem;
    letter-spacing: 4px;
    font-weight: $fw--medium;
  }
}

.hero__description {
  font-size: 1.1rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.28);
  max-width: 620px;
  margin: 0 auto;
  letter-spacing: -0.67px;
  line-height: 1.5;
}
