.iwt {
  @include breakpoint($bp--medium) {
    display: flex;
    > * {
      flex: 1 1 auto;
      width: 50%;
    }
    &.left {
      flex-direction: row;
    }
    &.right {
      flex-direction: row-reverse;
    }
  }
}

.iwt__image img {
  width: auto;
}

.iwt__image.iwt__image--backround img {
  width: auto;
  max-height: 500px;
  margin: 0 auto;
}

.iwt__text {
  @include breakpoint($bp--medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include breakpoint($bp--medium) {
    padding-right: 3rem;
    padding-left: 6rem;
  }
}

.iwt__blockquote {
  display: block;
  font-size: 1.33rem;
  font-weight: $fw--regular;
  padding: 0;
  margin: 0;
}
.iwt__cite {
  display: block;
  font-size: 1rem;
  font-style: normal;
  margin-top: 2rem;
}
.iwt__text h3 {
  font-size: 2rem;
  font-weight: $fw--regular;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.iwt__text h4 {
  font-size: 1rem;
  font-weight: $fw--regular;
  margin: 0;
}

.iwt__inner-image {
  margin-top: 1rem;
}

.iwt {
  &.tertiary {
    background-color: $c-tertiary--light;
    padding: 2rem;
    .iwt__image {
      padding: 2rem;
    }
  }
  &.teal {
    background-color: $c-teal;
    padding: 2rem;
    .iwt__image {
      padding: 2rem;
    }
  }
  &.primary {
    background-color: $c-primary--light;
    padding: 2rem;
    .iwt__image {
      padding: 2rem;
    }
  }
  &.secondary {
    background-color: $c-secondary--light;
    padding: 2rem;
    .iwt__image {
      padding: 2rem;
    }
  }
}

.iwt__legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 160px;
  font-size: 0.78rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 2rem;
  padding-left: 2rem;
}

.iwt__legend p {
  position: relative;
  &.primary {
    &:before {
      background: $c-primary;
    }
  }
  &.secondary {
    &:before {
      background: $c-secondary;
    }
  }
  &.tertiary {
    &:before {
      background: $c-tertiary;
    }
  }
  &.quaternary {
    &:before {
      background: $c-quaternary;
    }
  }
  &.quinary {
    &:before {
      background: $c-quinary;
    }
  }

  &:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: -30px;
  }
}

.iwt__cta a {
  display: inline-block;
  margin-top: $base-line-height;
  padding: 0.5rem 2rem;
  text-decoration: none;
  background-color: $c-text--primary;
  color: $c-white;
  text-transform: uppercase;
  @include breakpoint($bp--medium) {
    padding: 1rem 2rem;
  }
  @include breakpoint($bp--xlarge) {
    padding: 1rem 5rem;
  }
}
