.small-cards {
  margin: 0 auto;
  max-width: 1380px;
}

.small-cards h2 {
  text-align: center;
  margin: 0 auto;
  @include block; // this is the same vertical rhythm as a section/block
}

.small-cards > ul {
  list-style: none;
}

.small-cards h4 {
  font-size: 1.33rem;
  text-align: left;
  margin-bottom: 0;
  font-weight: $fw--semi-bold;
  margin-left: 20px;
  margin-bottom: 1rem;
  line-height: 1.4;
  max-width: 100px;
}

@supports (display: grid) {
  .small-cards > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 6.2rem;
    grid-row-gap: 1.5rem;
    padding: 0;
  }
}

.card:nth-of-type(even) {
  margin-top: 5rem;
}

.square {
  height: 174px;
  width: 174px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &.white {
    color: $c-white;
  }
  &.primary {
    background-color: $c-primary;
  }
  &.secondary {
    background-color: $c-secondary;
  }
  &.tertiary {
    background-color: $c-tertiary;
  }
  &.quaternary {
    background-color: $c-quaternary;
  }
  &.quinary {
    background-color: $c-quinary;
  }
}
