body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.padding-horizontal {
  padding-right: 20px;
  padding-left: 20px;
}
