@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
$ff--regular: "Montserrat", sans-serif;
$fw--light: 300;
$fw--regular: 400;
$fw--medium: 500;
$fw--semi-bold: 600;
$fw--bold: 700;

html {
  box-sizing: border-box !important;
  font-family: $ff--regular;
  font-size: $base-font-size;
  font-weight: $fw--light;
  line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.15;
}

h1,
.h1 {
  font-size: $base-font-size * 3.66;
  font-weight: $fw--bold;
}

h2,
.h2 {
  font-size: $base-font-size * 2;
  font-weight: $fw--regular;
}

h3,
.h3 {
  font-size: $base-font-size * 2.5;
  font-weight: $fw--medium;
}

h4,
.h4 {
  font-size: $base-font-size * 2;
  font-weight: $fw--regular;
}
