// branding colours
$c-primary: #c79c84;
$c-primary--light: #dcd3c8;
$c-secondary: #dca564;
$c-secondary--light: #f7cf9a;
$c-tertiary: #83abad;
$c-tertiary--light: #ccdcdd;
$c-quaternary: #b86d73;
$c-quinary: #3d5248;

$c-teal: #bed6cd;

//text colours
$c-text--primary: #ba8748;

$c-white: #ffffff;
$c-black: #000000;

//grays
$c-gray--light: #f3f3f3;
$c-gray--dark: #333333;
