.text--introduction {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.55;
  font-weight: $fw--light;
  opacity: 0.85;
  &.left {
    text-align: left;
  }
}

.caption {
  font-size: 0.833;
  font-weight: $fw--regular;
}

.text.text--two-column {
  display: flex;
  padding: 0 1rem;
  max-width: $bp--xlarge;
  margin: 0 auto;
}

.text-column {
  width: 50%;
  max-width: 420px;
  padding-right: 3rem;
}
